#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav {
  position: fixed;       
  top: 0;                
  left: 0;              
  width: 100%;          
  background-color: #333; 
  color: white;
  align-items: stretch;
  padding: 1rem;        
  z-index: 1000;        
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.nav a{
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li.active {
  text-decoration: underline;
}

.nav li:hover{
  background-color: #777;
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  display: block;       /*  makes it scroll on mobile */
  overflow-x: auto;
  white-space: nowrap;
}

/* Ensure all text here too is dark by default */
body, table, th, td {
  color: #212121;
}
